@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

article{
    overflow-x: hidden;
}

/*! The start of loading page */

#loader{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background-color: #1E1E1E;
}

#spin{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-top-color: transparent;
    animation: spin .7s linear infinite;
}

.fade-out{
    opacity: 0;
    transition: opacity .3s ease-in-out;
    pointer-events: none;
}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}
/*! The end of loading page */

/*? The start of coding */

/*! the start of nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;  
    z-index:999;
    height: 10vh;
    background-color:rgb(196, 221, 247);
    padding: 10px;
}

nav .container-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

nav h1 {
    color: #0E254E;
    font-weight: 800;
    text-transform: capitalize;
    margin-left: 8%;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

nav ul li a {
    color: #0E254E;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
    transition: 0.3s ease-in-out;
}

nav ul li a::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #1b59c4;
    transition: 0.3s ease-in-out;
}

nav ul li a:hover::after {
    margin-top: 20px;
    width: 100%;
}

nav ul li a:hover,
nav ul li a.active{
    color: #1b59c4;
}

nav form {
    margin-left: 3%;
}

nav form button {
    width: 150px;
    background: linear-gradient(to right, #2963d8, #516580);
    color: white;
    cursor: pointer;
    text-transform: capitalize;
    padding: 10px 10px;
    border-radius: 2px;
    border: none;
    outline: none;
}

#bars-outside{
    display: none;
    color: white;
    margin-bottom: -20px;
}

#bars-inside-nav-container{
    display: none;
    color: white;
}

/*! the end of nav */

/*! the start of form-APP */
.formAPPlication{
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    width: 35%;
    height:80%;
    background-color: #0E254E;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
    display: none;
}

.formAPPlication form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.formAPPlication .texts{
    display: flex;
    justify-content: start;
    align-items: center;
}

.formAPPlication .texts h4{
    color: white;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 20px;
}

.formAPPlication .texts h4 span{
    color: white;
    border-bottom: 2px solid #1b59c4;
}

.formAPPlication .texts #close{
    color: white;
    border-bottom: 2px solid #1b59c4;
    cursor: pointer;
    margin-left: 230px;
}

.formAPPlication form input,
select{
    width: 400px;
    padding: 10px 20px;
    margin-top: 10px;
    outline: none;
    border: 1px solid #EBE8E9;
    border-radius: 5px;
    letter-spacing: 0.5;
    font-weight: 400;
}

.formAPPlication form select{
    font-size: 15px;
    text-transform: capitalize;
}

.formAPPlication form select option{
    outline:none;
    border: none;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: light;
}

.formAPPlication form #price{
    color: white;
    font-size: 20px;
    margin-top: 15px;
}

.formAPPlication form input::placeholder{
    color: grey;
    letter-spacing: 0.5;
    text-transform: capitalize;
}

.formAPPlication .checkbox{
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    margin-top: 10px;
}

.formAPPlication .checkbox input{
    width:20px;
    height: 12px;
    cursor: pointer;
}

.formAPPlication .checkbox label{
    color:white;
    font-size: 17px;
    padding-left: 7px;
    cursor: pointer;
}

.formAPPlication #btn-formApp{
    width: 400px;
    padding: 10px 20px;
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.5;
    font-weight: 400;
    background-color: #1b59c4;
    color: white;
    letter-spacing:0.5;
    text-transform: capitalize;
    font-weight: light;
    cursor: pointer;
}
/*! the end of form-APP */

/*! The start of success card */
.successCard{
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 85%;
    box-shadow: 2px 2px 2px #0E254E;
    background-color: #0E254E;
    border-radius: 5px;
    color: white;
    padding: 20px;
    text-transform: capitalize;
    font-weight: 600;
    opacity: 0;
    transition: bottom 0.5s ease-in-out;
}

.successCard.active .time-line{
    height: 5px;
    width: 104.7%;
    background: rgb(25, 243, 141);
    border-radius: 5px;
    float: right;
    margin-top: -20px;
}

.successCard.active .time-line::after{
    content: "";
    display: block;
    height: 100%;
    width: 0%;
    background: #0E254E;
    animation: progressMove 3s linear forwards;
}

@keyframes progressMove {
    from{
        width: 0;
    }

    to{
        width: 100%;
    }
}

.successCard.active{
    opacity: 1;
}

/*! The end of success card */

/*! the start of Main Titles */
.main-section {
    margin-left: 8%;
    display: flex;
    height: 73vh;
}

.main-section .home-main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-section .home-main-text h4 {
    color: #2963d8;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main-section .home-main-text h2 {
    font-size: 60px;
    text-transform: capitalize;
    color: #0E254E;
    margin-bottom: 5px;
}

.main-section .home-main-text h2:nth-child(3) {
    margin-bottom: 10px;
}

.main-section .home-main-text p,
span {
    padding-bottom: 3px;
    color: rgba(0, 0, 0, 0.671);
}

.main-section img {
    width: 55%;
    margin-top: 50px;
}

main .search-btn {
    display: flex;
    margin: 0 0 20px 8%;
}

.search-btn {
    position: relative;
}

.search-btn input {
    padding: 20px;
    width: 40%;
    background-color: #1e4d9cc7;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
}

main .search-btn input::placeholder {
    color: white;
    text-transform: capitalize;
    font-weight: 500;
}


.search-btn button {
    position: absolute;
    font-size: 14px;
    background-color: white;
    color: #0E254E;
    font-weight: 600;
    width: 15%;
    left: 300px;
    top: 5.2px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
/*! the end of main section */

/*! the strat of section-2 */
.section-2 {
    display: flex;
    justify-content: space-between;
    background-color: #bccdd538;
    height: 100vh;
    margin-bottom: 10%;

}

.left-section-title {
    margin-left: 4%;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 360px;
    color: #0E254E;
    font-weight: 500;
    text-transform: capitalize;
}

.right-section-services {
    display: flex;
    justify-content: space-around;
    margin-top: 85px;
    flex-wrap: wrap;
    gap: 10px;
    flex: 0 0 55%;
}

.right-section-services .card .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-section-services .card img {
    padding-bottom: 10px;
}

.right-section-services .card .content h4 {
    color: #0E254E;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 10px;
}

.right-section-services .card p {
    color: rgba(0, 0, 0, 0.473);
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    padding-top: 5px;
    margin-top: 5px;
}
/*! the end of section-2 */

/*! the start of section-3 */
.section-3 {
    display: flex;
    gap: 200px;
    margin-bottom: 10%;

}

.section-3 .left-side-section-4 .border {
    border: 2px solid #1b59c434;
    border-radius: 3px;
    width: 80%;
    height: 480px;
    margin-left: 30%;
    margin-top: -163px;
}

.image-section-3-4 img {
    width: 80%;
    height: 500px;
    object-fit: cover;
    border-radius: 7px;
    margin-left: 24%;
    margin-top: -520px;
    float: left;
}

.section-3 .right-side-section-4 {
    display: flex;
    flex-direction: column;
}

.section-3 .right-side-section-4 h2 {
    font-size: 40px;
    color: #0E254E;
}

.section-3 .content-right-side-section-4 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.section-3 .right-side-section-4 p {
    color: rgba(0, 0, 0, 0.632);
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.section-3 .right-side-section-4 .btn-section-4 {
    margin-top: 40px;
}

.section-3 .right-side-section-4 .btn-section-4 button {
    padding: 10px 15px;
    background-color: #649ABB;
    outline: none;
    border: none;
    color: white;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
}
/*! the end of section-3 */

/*! the start if section-4 */
.section-4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8% 0 8% 4%;
}

.section-4 img {
    width: 40%;
    height: 600px;
    object-fit: cover;
    border-radius: 7px;
}

.section-4 h2 {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.850);
    text-transform: capitalize;
    padding-bottom: 10px;
    letter-spacing: 0.5;
}

.section-4 .information {
    margin-top: 20px;
}

.section-4 .information p {
    line-height: 35px;
    color: grey;
    text-transform: capitalize;
}

.section-4 .section-2-btn {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.section-4 .section-2-btn button {
    padding: 10px 20px;
    color: white;
    background-color: #649ABB;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7;
    border: none;
    outline: none;
    cursor: pointer;
}

.section-4 .section-2-btn a {
    position: relative;
    color: #649ABB;
    font-size: 17px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.5;
    cursor: pointer;
    padding-bottom: 10px;
}

.section-4 .section-2-btn a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #649ABB;
    width: 100%;
    height: 4px;
    border-radius: 5px;

}
/*! the end of section-4 */


/*! the start of section-5 */
.section-5{
    overflow-x: hidden;

}

.section-5 .content .right-side {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 20%;
    
}

.section-5 .left-Right{
    display: flex;
    align-items: center;
    gap: 200px;
}

.section-5 .content .right-side img {
    width: 300px;
    height: 400px;
    border-radius: 7px;
    object-fit: cover;
}

.section-5 .left-side{
    display: flex;
    flex-direction: column;
}

.section-5 .left-side img {
    width: 300px;
    height: 400px;
    border-radius: 7px;
    object-fit: cover;
    float: right;
    margin-top: -156px;
}

.section-5 .left-side .titles-5{
    float: right;
    margin-top: -300px;
    margin-left: -150px;
}

.section-5 .left-side .titles-5 h2:nth-child(1){
    color: rgba(0, 0, 0, 0.63);
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.5px;
}

.section-5 .left-side .titles-5 h2:nth-child(2){
    color: #5BA3BB;
    font-weight: 600;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 5px;
    letter-spacing: 0.7px;
}


.section-5 .content .quote-title{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    text-transform: capitalize;
    font-weight: 500;
    color: #5BA3BB;
}

.section-5 .content .quote-title span{
    font-size: 70px;
    color: #5ba3bb54;
    margin-top: -20px;
}

.section-5 .content .quote-title .titles-quote P{
    display: flex;
    justify-content: end;
    color: black;
    text-transform: uppercase;
    margin-top: 10px;
}
/*! the end of section-5 */

/*! the start of footer */
footer{
    background-color: #1E1E1E;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    margin-top: 10%;
    color: white;
}

footer .section-5-footer h4{
    color: rgba(255, 255, 255, 0.900);
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin-bottom: 13px;
}

footer .section-5-footer p {
    color: rgba(255, 255, 255, 0.605);
    font-weight: 400;
    font-size: 13   px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin-bottom: 11px;
    cursor: pointer;   
}

footer .section-5-footer .contact p {
    color: rgba(255, 255, 255, 0.605);
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin-bottom: 11px;
    cursor: pointer;
    display: flex;
}

footer .section-5-footer .contact p i {
    margin-right: 12px;
}


footer .section-5-footer .address{
    margin-bottom: 15px;
}

footer .section-5-footer .address p {
    margin-bottom: 5px;
    font-size: 13px;
}

footer .section-5-footer .inputs input{
    padding: 7px;
    position: relative;
    outline: none;
    border: 1px solid #ffffff96;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.815);
}

input::placeholder{
    color:rgba(255, 255, 255, 0.575)
}

footer .section-5-footer .inputs button{
    position: absolute;
    font-size: 11px;
    right: 9px;
    padding: 9px 25px;
    outline: none;
    border: none;
    color: rgba(0, 0, 0, 0.974);
    background-color: white;
    cursor: pointer;
    border: 5px;
}

footer .section-5-footer .icons {
    font-size: 25px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    margin-left: 20px;
}

.copyrights{
    margin-top: 25%;
}

.copyrights p{
    color: white;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.5;
    text-transform: capitalize;
}
/*! the end of footer */

/*! the start of responsive */
@media (max-width:450px) {
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav .container-nav{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        background-color: #0E254E;
        padding: 20px;
        margin-right: -10px;
        margin-top: 5px;
        border-radius: 10px;
        display: none;
    }
    
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        margin-top: 365px;
    }
    nav h1, 
    ul li a{
        font-size: 15px;
    }

    nav ul li a{
        color: white !important;
    }

    nav ul li a::after{
    display: none; 
    }

    nav form{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav form button{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 5px;
        margin: 30px 0 10px 0;
    }

    #bars-outside{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0E254E;
        padding-bottom: 23px;
        margin-right: 30px;
    }

    #bars-inside-nav-container{
        display: none;
        margin-bottom: -20px;
        margin-top: 30px;
    }

    .formAPPlication{
        width: 80%;
    }

    .formAPPlication .texts #close{
        margin-left: 100px;
    }

    #form-containerApp{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #form-containerApp input,
    select{
        width: 90%;
    }

    #form-containerApp #checkbox{
        width: 20%;
    }

    .formAPPlication #btn-formApp{
        width: 90%;
        margin-bottom: 40px;
    }

    #email-error,
    #name-error{
        font-size: 13px;
    }

    .successCard{
        width: 90%;
        margin-right: 10px;
    }

    .main-section .home-main-text h4{
        font-size: 13px;
    }

    .main-section .home-main-text h2{
        flex-direction: column;
        font-size: 40px;
    }

    .main-section .home-main-text p{
        font-size: 19px;
    }
    .main-section .home-main-text h2:nth-child(3){
        margin-bottom: 20px;
    }

    .main-section img{
        display: none;
    }

    .search-btn{
        width: 650px;
    }

    .search-btn button{
        left: 157px;
    }

    ::placeholder{
        font-size: 13px;
    }

    .section-2{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }

    .left-section-title{
        font-size: 23px;
        margin-top: 20px;
    }

    .right-section-services{
        display: flex;
        justify-content: start;
        align-items: start;
        margin-left: 40px;
        margin-bottom: 20px;
    }

    .left-side-section-4{
        display: none;
    }

    .section-3 .right-side-section-4 h2{
        font-size: 30px;
        margin-left: 10px;
    }

    .section-3 .content-right-side-section-4 p{
        margin-left: 12px;
        font-size: 16px;
    }

    .section-3 .btn-section-4{
        display: flex;
        justify-content: center;
    }

    .section-3 .right-side-section-4 .btn-section-4 button{
        font-size: 10px;
    }

    .section-4{
        display: flex;
        flex-direction: column;
    }

    .section-4 img{
        width: 350px;
        margin-right: 10px;
    }

    .section-4 .section-2-titles{
        margin-top: 20px;
    }

    .section-4 .section-2-titles h2{
        font-size: 25px;
    }

    .section-4 .section-2-titles p{
        display: none;
    }

    .section-4 .section-2-btn{
        gap: 50px;
    }

    .section-4 .section-2-btn button{
        font-size: 11px;
    }

    .section-4 .section-2-btn a{
        font-size: 11px;
    }

    .contact .section-5{
        margin-top: 20%;
    }

    .section-5 .left-Right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .section-5 .content .right-side img{
        width: 200px;
        margin: 0 90px 0 0;
    }

    .section-5 .left-side img{
        display: none;        
    }

    .section-5 .left-side .titles-5{
        text-align: center;
        margin: 0 0 0 0;
        /* font-size: 10px; */
    }

    .section-5 .content .left-side .titles-5 h2{
        font-size: 25px;
    }

    .section-5 .content .quote-title span{
        font-size: 25px;
    }
    .section-5 .content .quote-title .titles-quote{
        font-size: 10px;
        width: 70%;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
}