@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

main {
    background-color: #F7FAFD;
}

main .information-section {
    background-color: #0E254E;
    color: rgba(255, 255, 255, 0.936);
    display: flex;
    gap: 50px;
    padding: 10px;
}

main .information-section p i {
    margin-right: 4px;
}


main .information-section p:nth-child(1) {
    margin-left: 7%;
}

main .information-section .icons {
    position: relative;
    display: flex;
    gap: 15px;
    margin-left: 50%;
    cursor: pointer;
}

/* main .information-section .icons i::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: 2s ease-in-out;
}

main .information-section .icons i:hover:after{
    width: 100%;
} */

nav {
    display: flex;
    margin-top: 3%;
}

nav h1 {
    color: #0E254E;
    font-weight: 800;
    text-transform: capitalize;
    margin-left: 8%;
}

nav ul {
    display: flex;
    justify-content: center;
    margin-left: 25%;
    align-items: center;
    gap: 60px;
    list-style: none;
}

nav ul li a {
    color: #0E254E;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}

nav ul li a::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #1b59c4;
    transition: 0.3s ease-in-out;
}

nav ul li a:hover::after {
    margin-top: 20px;
    width: 100%;
}

nav form {
    margin-left: 3%;
}

nav form button {
    background: linear-gradient(to right, #2963d8, #516580);
    color: white;
    cursor: pointer;
    text-transform: capitalize;
    padding: 10px 10px;
    border-radius: 2px;
    border: none;
    outline: none;
}

.main-section {
    margin-left: 8%;
    display: flex;
}

.main-section .home-main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-section .home-main-text h4 {
    color: #2963d8;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main-section .home-main-text h2 {
    font-size: 60px;
    text-transform: capitalize;
    color: #0E254E;
    margin-bottom: 5px;
}

.main-section .home-main-text h2:nth-child(3) {
    margin-bottom: 30px;
}

.main-section .home-main-text p,
span {
    padding-bottom: 3px;
    color: rgba(0, 0, 0, 0.671);
}

.main-section img {
    width: 55%;
    margin-top: 50px;
}

main .search-btn {
    display: flex;
    margin: 0 0 20px 8%;
}

.search-btn {
    position: relative;
}

.search-btn input {
    padding: 20px;
    width: 40%;
    background-color: #1e4d9cc7;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
}

main .search-btn input::placeholder {
    color: white;
    text-transform: capitalize;
    font-weight: 500;
}


.search-btn button {
    position: absolute;
    font-size: 14px;
    /* background: linear-gradient(to right, #2963d8, #516580); */
    background-color: white;
    color: #0E254E;
    font-weight: 600;
    width: 15%;
    left: 300px;
    top: 4.7px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.section-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8% 0 8% 4%;
}

.section-2 img {
    width: 40%;
    height: 600px;
    object-fit: cover;
    border-radius: 7px;
}

.section-2 h2 {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.850);
    text-transform: capitalize;
    padding-bottom: 10px;
    letter-spacing: 0.5;
}

.section-2 .information {
    margin-top: 20px;
}

.section-2 .information p {
    line-height: 35px;
    color: grey;
    text-transform: capitalize;
}

.section-2 .section-2-btn {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.section-2 .section-2-btn button {
    padding: 10px 20px;
    color: white;
    background-color: #649ABB;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7;
    border: none;
    outline: none;
    cursor: pointer;
}

.section-2 .section-2-btn a {
    position: relative;
    color: #649ABB;
    font-size: 17px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.5;
    cursor: pointer;
    padding-bottom: 10px;
}

.section-2 .section-2-btn a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:#649ABB;
    width: 100%;
    height: 4px;
    border-radius: 5px;

}

